*
!/.gitignore
!/.travis.yml
!/README.md
!/jakartron-bom
!/jakartron-core
!/jakartron-ejb
!/jakartron-jaxrs
!/jakartron-jms
!/jakartron-jpa
!/jakartron-jta
!/jakartron-junit
!/jakartron-mockito
!/jakartron-security
!/jakartron-servlet
!/jakartron-validation
!**/src
!**/src/**
!**/pom.xml